html {
	height: 78%;	
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img04.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7F7772; /* Light Grey */
}

#wrapper {
	min-height: 100%;	
}

h1,h2,h3 {
	margin-top: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666666; /* Dark Grey */
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 136%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

p,ul,ol {
	margin-bottom: 1.6em;
	line-height: 180%;
}

p {
	
}

blockquote {
	font-style: italic;
}

ul {
	
}

ol {
	
}

a {
	
}

a:hover {
	text-decoration: none;
}

small {
	
}

hr {
	display: none;
}

img {
	border-style: none;
}

select {
 	width: 176px;	
}

form.input {
	width: 196px;	
}

textarea {
	width: 170px;	
    resize: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

form {
	margin: auto;
	width: 400px;
	max-width: 400px;
}

#searchOptions {
	margin: auto;
	width: 400px;
	max-width: 400px;	
}

#details {
	margin: auto;
	width: 400px;
	max-width: 400px;
}

label.details{
	font-style: italic;	
	width: 170px;
	color: #444444; /* Dark Grey*/
}

.headerLink {
	display:block; 
	margin-top: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 100%;
}

.map {
	margin: auto;
	width: 400px;
	height: 400px;
	max-width: 375px;
	max-height: 375px;	
}

#locale {
	float: right;	
}

tr.odd {
	background-color: #EAF1F1;
}

div.odd {
	padding-top: 6px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;
	background-color: #EAF1F1;	
}

div.even {
	padding-top: 6px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;
}

.result_title {
	font-size: 125%;	
}

th{
	background-color:#9CBFBF;
	color:white;
}

.results {
	margin: auto;
	width: 600px;
	max-width: 600px;	
}

label {
	width: 155px;
	float: left;
}

.socialNetwork {
/*	float: left;	*/
}
/*.twitter {*/
/*	float: right;*/
/*}*/
/**/
/*.facebook {*/
/*	float: left;	*/
/*}*/

fieldset {
	border: 1px solid #AFC7C7;
}

#branchInfo, #productInfo, #serviceInfo {
	display: inline-block;	
}

legend {
	font-weight: bold;
	padding: 2px 6px
}

table {
	border: 1px solid #AFC7C7;
	margin: auto;
	width: 700px;
	border-collapse: collapse;
}

div.home {
	margin: auto;
	width: 700px;	
}

th {
	border: 1px solid #AFC7C7;
}

td {
	border: 1px solid #AFC7C7;
}

/* Header */
#header {
	width: 900px;
	height: 115px;
	margin: 0 auto;
}

/* Logo */
#logo {
	padding-top: 12px;
	float: left;
	width: 240px;
	height: 100px;
}

/* Search Bar */
#search {
	float: right;
	width: 400px;
	padding-top: 20px;
}

#searchinput {
	float: right;
	border: 1px solid #EDEBD5;
	font: bold 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #7F7772;
}

#searchinput {
	padding: 2px 5px;
	width: 350px;
	height: 27.5px;
	background: #FFFFFF url(images/img02.gif) repeat-x;
}

#searchsubmit {
	float: right;
}

#searchsubmit:hover {
	cursor: pointer;
}

.emptyList {
	text-align: center;
}

/* Menu */
#menu {
	width: 770px;
	height: 40px;
	margin: -30px auto 0 auto;
}

.retailerSearch {
	padding-bottom: 40px;	
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	float: left;
	display: block;
	height: 40px;
}

#menu li:hover {
	background: #F9F8F1; /* Very Light Grey */
}

#menu a {
	display: block;
	width: 60px;
	height: 35px;
	padding: 5px 20px 0 20px;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
	color: #7F7772; /* Dark Grey */
}

.error {
	display: block;
	color: red;
	padding-left: 150px;
}

.generalError {
	display: block;
	color: red;
}

.map_error {
	display: block;
	color: red;	
}

.number {
	float: right;	
}

html>body #menu a {
	width: auto;
}

.error-page {
	font-size: 40px;
	color: red;
}

#menu li.active {
	background: #EDEBD5 url(images/img05.gif) no-repeat;
}

#menu li.active a {
	background: url(images/img06.gif) no-repeat right top;
}

/* Page */
#page {
	width: 770px;
	margin: 0 auto 20px auto;
	background: url(images/img07.gif) repeat-y 260px 0;
}

/* Content */
#content {
	float: right;
	width: 490px;
}

.title {
	padding-bottom: 5px;
	border-bottom: 1px solid #EDEBD5;
}

.twocols {
	
}

.twocols .col1 {
	float: left;
	width: 235px;
}

.twocols .col2 {
	float: right;
	width: 235px;
}

.list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.list li {
	padding-left: 10px;
	background: url(images/img10.gif) no-repeat left center;
}

ul.combobox { 
	margin: auto;
	height: 125px; 
	width: 375px;
	max-width: 375px; 
	overflow: auto; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow-x: hidden;
}
	
li.combobox { 
	margin: 0; 
	padding: 0; 
}

label.combobox { 
	display: block; 
	color: WindowText; 
	background-color: Window; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}
 
label.combobox:hover { 
	background-color: Highlight; 
	color: HighlightText; 
}
   
.smallText {
	text-align: center;
}

/* Sidebar */
#sidebar {
	float: left;
	width: 15%;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	background: url(images/img11.gif) no-repeat;
}

#sidebar li ul {
	
}

#sidebar li li {
	background: url(images/img12.gif) repeat-x left bottom;
}

#sidebar h2 {
	border-bottom: 1px solid #EDEBD5;
	font-size: 114%;
	font-weight: bold;
}

#sidebar h3 {
	margin: 0;
}

#sidebar p {
	margin: 0;
	line-height: normal;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */
#footer {
	position: relative;
	clear: both;
	margin-top: -35px;
	height: 50px;
	padding-top: 20px;
	background: #EDEBD5 url(images/img08.gif) repeat-x;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 77%;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	padding: 0px;
	color: #787878;
}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
	background: #F4FAF0;
	border-left: 1px solid #D6E6CC;
	border-right: 1px solid #D6E6CC;
	border-bottom: 1px solid #D6E6CC;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 3px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 20px;
	background: #D6E6CC;
	border: 1px solid #D6E6CC;
	letter-spacing: -.5px;
	color: #48390E;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}